<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>{{ user.name }}</h1>
    <h2>{{ user.lastname }}</h2>

    <span>{{ user.email }}</span>

    <form method="post" action="{{ path('app_userDelete', {'id': user.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button>DELETE</button>
    </form>
</body>
</html>